<style>
   h1 {
     color: #7a0019;
     font-size: 26px;
     font-family: sans, sans-serif;
     border-style: solid;
     border-width: 5px;
     border-color: #7a0019;
     background-color: #ffcc33;
     padding: 10px;
     text-align: center;
   }

   h2 {
     color: black;
     font-size: 20px;
     width: 60%;
     border-style: none;
     background-color: #ffde7a;
     padding: 10px;
     text-align: center;
   }

   p {
     font-size: 18px;
     margin-left: 300px;
     margin-right: 300px;
     font-family: sans, sans-serif;
   }

   .flex-container {
     display: flex;
     flex-direction: row;
     width: 33.33%;
     padding: 5px;
   }

   ul {
     font-size: 18px;
     Text-align: center;
     padding: 5px;
   }

   a {
     margin: 0 auto;
     background-color: #d5d6d2;
     font color: #7a0019;
     font-size: 18px;
     padding: 0 20px 20px 20px;
     border: 3px solid black;
     border-style: ridge;
     width: 30%;
     height: 100%;
     display: table;
     text-align: center;
     padding-top: 14px;
   }
 </style>
